@model IEnumerable<LaundryManagement.Models.BillCustModel>
@{
    ViewBag.Title = "getBillCustInfo";
    bool chkVal = false;

    ViewBag.dateToday= DateTime.Now.ToString("HH:mm:ss");
    ViewBag.ShortDateToday=DateTime.Now.ToShortDateString();
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
<link href="~/Css/MyStyleSheet.css" rel="stylesheet" />


<div class="row">
    <div class="column">
        <div class="card" style="width:520px;height:580px">
            <h2>Laundry Management System </h2>
            <table id="tblBillCustList" class="table table-striped table-bordered table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th> 
                            @Html.DisplayName("Select")
                        </th>
                        <th>
                            @Html.DisplayName("Bill")
                        </th>
                        <th>
                            @Html.DisplayName("Cust ID")
                        </th>
                        <th>
                            @Html.DisplayName("Name")
                        </th>
                        <th>
                            @Html.DisplayName("Mobile Number")
                        </th>


                    </tr>

                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.CheckBox("chkbox", chkVal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BillingId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustMobileNumber)
                            </td>

                        </tr>


                    }
                </tbody>

            </table>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div>
                <table>
                    <thead>


                        <tr>
                            <th>
                              
                                <label id="bill">Bill No</label>
                                <input type="text" id="billNo" name="Bill No" onchange="myFunction()">
                            </th>
                            <th>
                                
                                <label id="lbMobNo">Mobile</label>
                                <input type="text" id="MobNo" name="Mobile">

                            </th>

                            <th>

                                <label id="lbName">Name</label>
                                <input type="text" id="txtName" name="Name">
                               
                            </th>
                            <th>
                                @*<input type="text" id="todate1" onload="myDate()">*@
                                @*<p id="demo"></p>*@

                                <input type="text" id="todate1" value="@ViewBag.ShortDateToday" style="width:80px" readonly>
                                <input type="text" id="todate2" value="@ViewBag.dateToday" style="width:70px" readonly>
                               

                            </th>


                        </tr>

                    </thead>


                </table>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card"  style="height:500px">
            <div>
                <table id="tblBillCustList1" class="table table-striped table-bordered table-sm" cellspacing="0" >
                    <thead style="background-color:#ffd800">


                        <tr>

                            <th>
                                @Html.DisplayName("Product")
                            </th>
                            <th>
                                @Html.DisplayName("Qty")
                            </th>
                            <th>
                                @Html.DisplayName("Rate")
                            </th>
                            <th>
                                @Html.DisplayName("Amount")
                            </th>


                        </tr>

                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustMobileNumber)
                                </td>

                            </tr>


                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card"  style="height:500px">
            <div>
                <table id="tblBillCustList2" class="table table-striped table-bordered table-sm" cellspacing="0">
                    <thead style="background-color:#ffd800">


                        <tr>
                            <th>
                                @Html.DisplayName("Select")
                            </th>
                            <th>
                                @Html.DisplayName("Bill")
                            </th>
                            <th>
                                @Html.DisplayName("Cust ID")
                            </th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Mobile Number")
                            </th>


                        </tr>

                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBox("chkbox", chkVal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BillingId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustMobileNumber)
                                </td>

                            </tr>


                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>




@using (Html.BeginForm("GetPrint", "BillCust", FormMethod.Get))
{
    // do your html

    <div>
        <input type="submit" class="btn btn-info" value="Save" style="background-color:#ffd800">
        <input type="submit" class="btn btn-info" value="Print" style="background-color:#0094ff">
        <a href="javascript:window.print()">Click to Print This Page</a>
    </div>
}



@*<div class="line-btn">
            <input type="submit" value="print" onclick="PrintOnlyTable()" class="btn fl btn-print">
        </div>

        <input type="button" onclick="CallPrint('tblBillCustList')" value="Print Portion" />

        <input type="button" onclick="javascript:window.print()" value="Print Current Page" />

    </div>*@
<script>

    //$(document).ready(function () {
    //    $('#tblBillCustList').DataTable();
    //    $('.dataTables_length').addClass('bs-select');
    //});

    //$.get("/BillCust/SaveEmployeeRecord", null, function (data) {
    //    alert(data);
    //});

    $(document).ready(function () {
        $('#tblBillCustList').DataTable({
            "scrollY": "250px",

            "scrollCollapse": true,
            "paging": true,

            "columnDefs": [
                {

                    "visible": false,
                    "searchable": false,
                    "targets": [2]
                }

            ],
            "columns": [
                { "width": "20px" },
                { "width": "30px" },
                { "width": "20px" },
                { "width": "20px" },
                null

            ]
        });
    });

    //$(document).ready(function () {
    //    $('#billNo').click(function () {
    //        var EditorText = $('#billNo').text();
    //        if (EditorText != '') {
    //            //Perform Your Actions
    //        }
    //        else {
    //            // Write any user interactive validation message
    //            alert('Kindly fill in some text in the editor');
    //        }
    //    })
    //})

    function myFunction() {

        x = document.getElementById("billNo").value;

       // var EditorText = $('#billNo').text();
        if (x == " " || x == null) {
            //Perform Your Actions
            alert("Bill No cannot be blank");
            return false;
        }
        else if (isNaN(x) || x < 1) {
            alert('Input not valid.it must be a number greater than 0');
        }
           
    }
   
    var d = new Date();
    document.getElementById("demo").innerHTML = dt;
 

   

   
    function PrintOnlyTable() {
        var HTML = $("html");
        var cln = document.documentElement.innerHTML;
        HTML.html($("table"));
        window.print();
        document.documentElement.innerHTML = cln;
        return false;
    }

    function CallPrint(strid) {
        var prtContent = document.getElementById(strid);
        var WinPrint = window.open('', '', 'letf=100,top=100,width=600,height=600');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        //WinPrint.close()
    }

</script>